header {
  position: sticky;
  top: 0;
  border-color: black;
  border: 4px;
  background: red;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
}

html {
  height: 200%;
  line-height: 1.6;
}